body{
    text-align: center;
}

label{
    display: block;
    margin: 20px;
}
button{
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

textarea{
    display: inline-block;
}


form{
    text-align:center;
}




